.deletecontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #333;
}
.deletecontainer > div {
	width: 100%;
	height: 73px;
	background-color: #ebebeb;
	line-height: 20px;
	font-weight: 300;
	padding: 5px 5px 0px 5px;
	border-bottom: 1px solid rgb(154, 154, 161);
	font-size: 8pt;
	text-transform: uppercase;
	font-family: "Brandon Grotesque", brandon-grotesque, Helvetica, sans-serif;
	/* padding: 0% 35% 0% 20%; */
}
