.deletecontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #333;
}
.deletecontainer > div {
	width: 100%;
	height: 35px;
	background-color: #ebebeb;
	line-height: 20px;
	font-weight: 300;
	padding: 5px 5px 0px 5px;
	border-bottom: 1px solid rgb(201, 201, 207);
	font-size: 12pt;
	text-transform: uppercase;
	font-family: "Brandon Grotesque", brandon-grotesque, Helvetica, sans-serif;
	/* padding: 0% 35% 0% 20%; */
}

.formtext {
	font-weight: 600;
	background-color: rgb(220, 255, 138);
}

.result-table {
	padding: 0;
	margin: 0;
	display: block;
	left: -12px;
	position: absolute;
}
