@import url('https://fonts.googleapis.com/css?family=Lato');
/* body {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Lato', sans-serif;
  margin: 20px;
} */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.navbar {
	background-color: #f1f1f1;
	width: 100%;
	color: #58564d;
	height: 65px;
	top: 0;
	position: absolute;
}

.navbar img {
	width: 2%;
	height: 100%;
	margin-left: 15px;
}

.menu {
	text-transform: uppercase;
	color: rgba(20, 20, 20, 0.7);
	display: inline-block;
	cursor: pointer;
	pointer-events: none;
	font-size: 40px;
	font-weight: 600;
	margin-left: 15px;
}
.menu:hover {
	pointer-events: all;
}
.label {
	display: inline-block;
	cursor: pointer;
	pointer-events: all;
}
.spacer {
	display: inline-block;
	width: 0px;
	margin-left: 15px;
	margin-right: 15px;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}
.spacer:before {
	content: "";
	position: absolute;
	height: 1px;
	width: 0%;
	transition: width 0.25s ease;
	transition-delay: 0.7s;
}
.item {
	position: relative;
	display: inline-block;
	margin-right: 30px;
	top: 10px;
	opacity: 0;
	transition: opacity 0.5s ease, top 0.5s ease;
	transition-delay: 0;
}
span {
	transition: color 1.5s ease-in-out;
}
.item:hover span {

	background-color: rgb(241, 170, 78);
	text-decoration: overline;
	-webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.menu:hover .spacer:before {
	width: 100%;
	transition-delay: 0s;
}
.menu:hover .item {
	opacity: 1;
	top: 0px;
}
.item:nth-child(1) {
	transition-delay: 0.45s;
}
.item:nth-child(2) {
	transition-delay: 0.4s;
}
.item:nth-child(3) {
	transition-delay: 0.35s;
}
.item:nth-child(4) {
	transition-delay: 0.3s;
}
.item:nth-child(5) {
	transition-delay: 0.25s;
}
.item:nth-child(6) {
	transition-delay: 0.2s;
}
.item:nth-child(7) {
	transition-delay: 0.15s;
}
.item:nth-child(8) {
	transition-delay: 0.1s;
}
.item:nth-child(9) {
	transition-delay: 0.05s;
}
.item:nth-child(10) {
	transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
	transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
	transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
	transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
	transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
	transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
	transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
	transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
	transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
	transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
	transition-delay: 0.7s;
}
